{
    "nodeServer":{
        "port":8080
    },
    "mySQL":{
        "host":"localhost",
        "user":"root",
        "password":"*****",
        "database":"note",
        "multipleStatements":false
    }
}